<html>
    <head>
        <title>TheReviewCenter | {{title}}</title>
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        {{>header}}
        {{{body}}}
        {{>footer}}
    </body>
</html>
