<!DOCTYPE html>
<html>
    <head>
        <title>Login Account</title>
        <link rel="stylesheet" type="text/css" media="all" href="styles/style.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="styles/utility-style.css"/>
    </head>
    <body class="login-body">
        <div class = "login-content">
            <div class="login-container">
                <div>
                    <form action="/login" method="post">
                        <div class="padding-bottom">
                            <label id="username"><b>Username:</b> </label>
                            <input type="text" placeholder="Enter Username" name="username" required><br />
                        </div>
                        <div class="padding-bottom">
                            <label id="password"><b>Password:</b> </label>
                            <input type="password" placeholder="Enter Password" name="password" required><br />
                        </div>
                        <button type="submit" id="myButton">submit</button><br />
                    </form>
                </div>
                <div>
                    <p>
                        Don't have an account? Create your own account or register an existing account here:
                        <a href="#"><button>Register Account</button></a>
                    </p>
                </div>
                <a href="#"><button>Return Home</button></a>
            </div>
		  </div>		
    </body>
</html>

